langchain-community==0.4.1
lxml==6.1.0
beautifulsoup4==4.14.3
tqdm==4.67.3
torch==2.6.0+cu124
torchvision==0.21.0+cu124
torchaudio==2.6.0+cu124
transformers==5.6.2
weaviate-client==4.21.0
langchain_huggingface==1.2.2
sentence-transformers==5.4.1